# Limpando dados da tabela 'paises'
Padronizando os dados da tabela 'Faculdades' e adicionando as coordenadas geográficas para realização do heatmap.

## Importar biblioteca

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpds
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
from geopy.geocoders import Nominatim

## Abrir arquivo csv e avaliar dados

In [2]:
data_paises = pd.read_csv('rank_paises_6oct_2020.csv')

In [3]:
data_paises

     rank sigla                       pais  resolvidos  estudantes
0     105    SG                  Singapore         322          18
1     106    BV              Bouvet Island         321          18
2     107    SB            Solomon Islands         291           1
3     108    GW              Guinea-bissau         289           5
4     109    BY                    Belarus         280          15
..    ...   ...                        ...         ...         ...
236   237    NC              New Caledonia           0           0
237   238    MP   Northern Mariana Islands           0           0
238   239    RW                     Rwanda           0           0
239   240    LC                Saint Lucia           0           0
240   241    PM  Saint Pierre and Miquelon           0           0

[241 rows x 5 columns]

## Usar rank como index e ordenar

In [4]:
data_paises.set_index('rank', inplace=True)
data_paises

     sigla                       pais  resolvidos  estudantes
rank
105     SG                  Singapore         322          18
106     BV              Bouvet Island         321          18
107     SB            Solomon Islands         291           1
108     GW              Guinea-bissau         289           5
109     BY                    Belarus         280          15
...    ...                        ...         ...         ...
237     NC              New Caledonia           0           0
238     MP   Northern Mariana Islands           0           0
239     RW                     Rwanda           0           0
240     LC                Saint Lucia           0           0
241     PM  Saint Pierre and Miquelon           0           0

[241 rows x 4 columns]

In [5]:
data_paises.sort_index(inplace=True)
data_paises.head()

     sigla        pais  resolvidos  estudantes
rank
1       BR      Brazil     4299388      113824
2       BD  Bangladesh     1233339       32571
3       EG       Egypt      178149        6648
4       ID   Indonesia       51537        1610
5       MX      Mexico       48732        1812

## Criar atributo com sigla geo

In [6]:
def get_continent(col):
    try:
        cn_a2_code =  country_name_to_country_alpha2(col)
    except:
        cn_a2_code = 'Unknown' 
    try:
        cn_continent = country_alpha2_to_continent_code(cn_a2_code)
    except:
        cn_continent = 'Unknown' 
    return (cn_a2_code, cn_continent)

In [7]:
data_paises['code geo'] = [get_continent(row) for row in data_paises['pais']]

In [8]:
data_paises.head(30)

,sigla,pais,resolvidos,estudantes,code geo
rank,,,,,
1,BR,Brazil,4299388,113824,"(BR, SA)"
2,BD,Bangladesh,1233339,32571,"(BD, AS)"
3,EG,Egypt,178149,6648,"(EG, AF)"
4,ID,Indonesia,51537,1610,"(ID, AS)"
5,MX,Mexico,48732,1812,"(MX, NA)"
6,AR,Argentina,45329,1326,"(AR, SA)"
7,IN,India,42911,2160,"(IN, AS)"
8,CO,Colombia,37275,1298,"(CO, SA)"
9,KG,Kyrgyzstan,29795,355,"(KG, AS)"
10,US,United States,26701,1068,"(US, NA)"
11,BO,Bolivia,22364,713,"(BO, SA)"
12,RO,Romania,14176,199,"(RO, EU)"
13,JO,Jordan,11716,465,"(JO, AS)"
14,PE,Peru,11414,444,"(PE, SA)"
15,CR,Costa Rica,10887,224,"(CR, NA)"
16,JP,Japan,9933,147,"(JP, AS)"
17,PS,Palestinian Territories,7585,282,"(Unknown, Unknown)"
18,AO,Angola,7423,262,"(AO, AF)"
19,CA,Canada,6700,129,"(CA, NA)"
20,PT,Portugal,6583,180,"(PT, EU)"
21,VN,Viet Nam,6335,228,"(VN, AS)"
22,TH,Thailand,6163,121,"(TH, AS)"
23,RU,Russian Federation,5576,148,"(RU, EU)"
24,CL,Chile,5379,226,"(CL, SA)"
25,DE,Germany,5258,80,"(DE, EU)"
26,PY,Paraguay,4271,33,"(PY, SA)"
27,CN,China,4143,106,"(CN, AS)"
28,TC,Turks and Caicos Islands,4027,28,"(TC, NA)"
29,NO,Norway,3629,121,"(NO, EU)"
30,KW,Kuwait,3618,109,"(KW, AS)"

## Tratar Unknown values

In [9]:
data_paises.loc[data_paises['code geo'] ==  ('Unknown', 'Unknown')]

,sigla,pais,resolvidos,estudantes,code geo
rank,,,,,
17,PS,Palestinian Territories,7585,282,"(Unknown, Unknown)"
36,GB,United Kingdom (Great Britain),2459,58,"(Unknown, Unknown)"
69,VA,Vatican City (Holy See),700,15,"(Unknown, Unknown)"
73,HR,Croatia (hrvatska),633,38,"(Unknown, Unknown)"
97,DZ,Algeria (El Djazaïr),345,18,"(Unknown, Unknown)"
100,SM,San Marino (Republic of),342,1,"(Unknown, Unknown)"
108,GW,Guinea-bissau,289,5,"(Unknown, Unknown)"
133,CS,Serbia and Montenegro,173,11,"(Unknown, Unknown)"
146,TD,Chad (T'Chad),132,3,"(Unknown, Unknown)"
159,HM,Heard Island and Mcdonald Islands,96,1,"(Unknown, Unknown)"
167,FO,Faeroe Islands,81,1,"(Unknown, Unknown)"
169,CG,"Congo, Republic Of",75,2,"(Unknown, Unknown)"
175,RE,RÉunion,54,2,"(Unknown, Unknown)"
201,SH,Saint Helena,14,2,"(Unknown, Unknown)"
221,CI,Côte D'Ivoire (Ivory Coast),0,1,"(Unknown, Unknown)"
229,GM,"Gambia, The",0,0,"(Unknown, Unknown)"
236,AN,Netherlands Antilles,0,0,"(Unknown, Unknown)"

In [10]:
data_paises.drop([236, 229, 221], inplace=True)

In [11]:
nomes = {
    'Palestinian Territories': 'Palestine',
    'United Kingdom (Great Britain)': 'United Kingdom',
    'Vatican City (Holy See)': 'Italy',
    'Croatia (hrvatska)' : 'Croatia',
    'Algeria (El Djazaïr)': 'Algeria',
    'San Marino (Republic of)': 'San Marino',
    'Serbia and Montenegro': 'Serbia',
    'Chad (T\'Chad)': 'Chad',
    'Faeroe Islands': 'Faroe Islands',
    'Congo, Republic Of' : 'Congo',
    'RÉunion':'Réunion'
}

In [12]:
unk = data_paises.loc[data_paises['code geo'] ==  ('Unknown', 'Unknown')]

In [13]:
unk

,sigla,pais,resolvidos,estudantes,code geo
rank,,,,,
17,PS,Palestinian Territories,7585,282,"(Unknown, Unknown)"
36,GB,United Kingdom (Great Britain),2459,58,"(Unknown, Unknown)"
69,VA,Vatican City (Holy See),700,15,"(Unknown, Unknown)"
73,HR,Croatia (hrvatska),633,38,"(Unknown, Unknown)"
97,DZ,Algeria (El Djazaïr),345,18,"(Unknown, Unknown)"
100,SM,San Marino (Republic of),342,1,"(Unknown, Unknown)"
108,GW,Guinea-bissau,289,5,"(Unknown, Unknown)"
133,CS,Serbia and Montenegro,173,11,"(Unknown, Unknown)"
146,TD,Chad (T'Chad),132,3,"(Unknown, Unknown)"
159,HM,Heard Island and Mcdonald Islands,96,1,"(Unknown, Unknown)"
167,FO,Faeroe Islands,81,1,"(Unknown, Unknown)"
169,CG,"Congo, Republic Of",75,2,"(Unknown, Unknown)"
175,RE,RÉunion,54,2,"(Unknown, Unknown)"
201,SH,Saint Helena,14,2,"(Unknown, Unknown)"

In [14]:
unk['pais'] = unk['pais'].map(nomes)

/home/lhtest/SHOME/.virtualenvs/scrapy_uri/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
unk

     sigla            pais  resolvidos  estudantes            code geo
rank
17      PS       Palestine        7585         282  (Unknown, Unknown)
36      GB  United Kingdom        2459          58  (Unknown, Unknown)
69      VA           Italy         700          15  (Unknown, Unknown)
73      HR         Croatia         633          38  (Unknown, Unknown)
97      DZ         Algeria         345          18  (Unknown, Unknown)
100     SM      San Marino         342           1  (Unknown, Unknown)
108     GW             NaN         289           5  (Unknown, Unknown)
133     CS          Serbia         173          11  (Unknown, Unknown)
146     TD            Chad         132           3  (Unknown, Unknown)
159     HM             NaN          96           1  (Unknown, Unknown)
167     FO   Faroe Islands          81           1  (Unknown, Unknown)
169     CG           Congo          75           2  (Unknown, Unknown)
175     RE         Réunion          54           2  (Unknown, Unknown)
201     SH             NaN          14           2  (Unknown, Unknown)

## Remover dados antigos da tabela data_paises e dados com erro da tabela unk

In [16]:
data_paises.drop([17, 36, 69, 73, 97, 100, 108, 133, 146, 159, 167, 169, 175, 201], inplace=True)

In [17]:
unk = unk.dropna()

In [18]:
unk

     sigla            pais  resolvidos  estudantes            code geo
rank
17      PS       Palestine        7585         282  (Unknown, Unknown)
36      GB  United Kingdom        2459          58  (Unknown, Unknown)
69      VA           Italy         700          15  (Unknown, Unknown)
73      HR         Croatia         633          38  (Unknown, Unknown)
97      DZ         Algeria         345          18  (Unknown, Unknown)
100     SM      San Marino         342           1  (Unknown, Unknown)
133     CS          Serbia         173          11  (Unknown, Unknown)
146     TD            Chad         132           3  (Unknown, Unknown)
167     FO   Faroe Islands          81           1  (Unknown, Unknown)
169     CG           Congo          75           2  (Unknown, Unknown)
175     RE         Réunion          54           2  (Unknown, Unknown)

In [19]:
data_paises.loc[data_paises['code geo'] ==  ('Unknown', 'Unknown')]

Empty DataFrame
Columns: [sigla, pais, resolvidos, estudantes, code geo]
Index: []

## Adicionar code geo aos países da tabela unk

In [20]:
unk['code geo'] = [get_continent(row) for row in unk['pais']]

/home/lhtest/SHOME/.virtualenvs/scrapy_uri/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
unk

     sigla            pais  resolvidos  estudantes  code geo
rank
17      PS       Palestine        7585         282  (PS, AS)
36      GB  United Kingdom        2459          58  (GB, EU)
69      VA           Italy         700          15  (IT, EU)
73      HR         Croatia         633          38  (HR, EU)
97      DZ         Algeria         345          18  (DZ, AF)
100     SM      San Marino         342           1  (SM, EU)
133     CS          Serbia         173          11  (RS, EU)
146     TD            Chad         132           3  (TD, AF)
167     FO   Faroe Islands          81           1  (FO, EU)
169     CG           Congo          75           2  (CG, AF)
175     RE         Réunion          54           2  (RE, AF)

## Unir as tabelas

In [22]:
unir = [data_paises, unk]

In [23]:
data_paises_gcode = pd.concat(unir)

In [24]:
data_paises_gcode

     sigla           pais  resolvidos  estudantes  code geo
rank
1       BR         Brazil     4299388      113824  (BR, SA)
2       BD     Bangladesh     1233339       32571  (BD, AS)
3       EG          Egypt      178149        6648  (EG, AF)
4       ID      Indonesia       51537        1610  (ID, AS)
5       MX         Mexico       48732        1812  (MX, NA)
...    ...            ...         ...         ...       ...
133     CS         Serbia         173          11  (RS, EU)
146     TD           Chad         132           3  (TD, AF)
167     FO  Faroe Islands          81           1  (FO, EU)
169     CG          Congo          75           2  (CG, AF)
175     RE        Réunion          54           2  (RE, AF)

[235 rows x 5 columns]

## Remover valores duplicados

In [25]:
data_paises_gcode.loc[data_paises_gcode['code geo'].duplicated() == True]

     sigla            pais  resolvidos  estudantes  code geo
rank
36      GB  United Kingdom        2459          58  (GB, EU)
69      VA           Italy         700          15  (IT, EU)

In [26]:
data_paises_gcode.loc[data_paises_gcode['code geo'] ==   ('GB', 'EU')]

     sigla            pais  resolvidos  estudantes  code geo
rank
66      UK   Great Britain         765          23  (GB, EU)
36      GB  United Kingdom        2459          58  (GB, EU)

In [27]:
data_paises_gcode.loc[data_paises_gcode['code geo'] ==   ('IT', 'EU')]

     sigla   pais  resolvidos  estudantes  code geo
rank
58      IT  Italy         869          36  (IT, EU)
69      VA  Italy         700          15  (IT, EU)

In [28]:
italia_novo = 15+ 36
italia_novo

51

In [29]:
data_paises_gcode.at[58, 'resolvidos'] = 1569
data_paises_gcode.at[58, 'estudantes'] = 51

In [30]:
data_paises_gcode.drop([69], inplace=True)

In [31]:
data_paises_gcode.loc[data_paises_gcode['code geo'] ==   ('IT', 'EU')]

     sigla   pais  resolvidos  estudantes  code geo
rank
58      IT  Italy        1569          51  (IT, EU)

In [32]:
data_paises_gcode.at[36, 'resolvidos'] = 3224
data_paises_gcode.at[36, 'estudantes'] = 81
data_paises_gcode.at[36, 'sigla'] = 'UK'

In [33]:
data_paises_gcode.drop([66], inplace=True)

In [34]:
data_paises_gcode.loc[data_paises_gcode['code geo'] ==   ('GB', 'EU')]

     sigla            pais  resolvidos  estudantes  code geo
rank
36      UK  United Kingdom        3224          81  (GB, EU)

In [35]:
data_paises_gcode.loc[data_paises_gcode['code geo'].duplicated() == True]

Empty DataFrame
Columns: [sigla, pais, resolvidos, estudantes, code geo]
Index: []

## Sort()

In [39]:
data_paises_gcode.sort_index(inplace=True)

## Primeira etapa de tratamento finalizada

In [41]:
data_paises_gcode

     sigla                       pais  resolvidos  estudantes  code geo
rank
1       BR                     Brazil     4299388      113824  (BR, SA)
2       BD                 Bangladesh     1233339       32571  (BD, AS)
3       EG                      Egypt      178149        6648  (EG, AF)
4       ID                  Indonesia       51537        1610  (ID, AS)
5       MX                     Mexico       48732        1812  (MX, NA)
...    ...                        ...         ...         ...       ...
237     NC              New Caledonia           0           0  (NC, OC)
238     MP   Northern Mariana Islands           0           0  (MP, OC)
239     RW                     Rwanda           0           0  (RW, AF)
240     LC                Saint Lucia           0           0  (LC, NA)
241     PM  Saint Pierre and Miquelon           0           0  (PM, NA)

[233 rows x 5 columns]

**próximo passo, usar regex para remover a primeira sigla do 'code geo' e utilizar no atributo 'sigla',
pois as siglas coletadas no site podem conter erro.**