# Limpando dados da tabela 'Faculdades'
Padronizando os dados da tabela 'Faculdades', além de criar uma nova tabela contendo um balanço de dados referentes aos países dessas faculdades.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Abrir arquivo

In [3]:
data_faculdade = pd.read_csv('rank_faculdades_6oct_2020.csv')

In [4]:
data_faculdade

,rank,sigla,nome_fac,pais,resolvidos,estudantes
0,27,PUCGO,Pontifícia Universidade Católica de Goiás,br,43414,762
1,28,UFSCAR,Universidade Federal de São Carlos,br,41207,1042
2,29,UFMG,Universidade Federal de Minas Gerais,br,40361,1200
3,30,EWU,East West University,bd,40048,829
4,31,UFRN,Universidade Federal do Rio Grande do Norte,br,39666,1309
...,...,...,...,...,...,...
2594,2570,UOS,University of Sindh,pk,0,0
2595,2571,SDU,University of Southern Denmark,dk,0,0
2596,2572,USW,University of South Wales,ae,0,0
2597,2573,USJP,University of Sri Jayewardenepura,lk,0,0
2598,2574,UniStutt,University of Stuttgart,de,0,0

## Procurar por dados duplicados

In [5]:
(data_faculdade['sigla'].duplicated()).sum()

0

## Organizar dados

In [6]:
data_faculdade.sort_values('rank', inplace=True)

In [7]:
data_faculdade.reset_index(drop=True, inplace=True)

In [8]:
data_faculdade['pais'] = data_faculdade['pais'].str.upper()

In [9]:
data_faculdade

,rank,sigla,nome_fac,pais,resolvidos,estudantes
0,1,DIU,Daffodil International University,BD,288590,6480
1,2,UNIFEI,Universidade Federal de Itajubá,BR,178209,2610
2,3,UFU,Universidade Federal de Uberlândia,BR,108081,1888
3,4,INATEL,Instituto Nacional de Telecomunicações,BR,104629,1592
4,5,IFSULDEMINAS,Instituto Federal do Sul de Minas Gerais,BR,101527,1340
...,...,...,...,...,...,...
2594,2595,WUT,Westminster University in Tashkent,UZ,0,0
2595,2596,WTC,We Think Code,ZA,0,0
2596,2597,XJTU,Xi'an Jiaotong University,CN,0,0
2597,2598,XIDIAN,Xidian University,CN,0,0
2598,2599,ZHENGZHOU,Zhengzhou University,CN,0,0

## Criar tabela para unir a quantidade de faculdades/alunos/resolvidos de um determinado país

In [10]:
unindo_dados_faculdade = data_faculdade.copy()

In [11]:
unindo_dados_faculdade['Numero de faculdades'] = 1

In [12]:
unindo_dados_faculdade.head()

,rank,sigla,nome_fac,pais,resolvidos,estudantes,Numero de faculdades
0,1,DIU,Daffodil International University,BD,288590,6480,1
1,2,UNIFEI,Universidade Federal de Itajubá,BR,178209,2610,1
2,3,UFU,Universidade Federal de Uberlândia,BR,108081,1888,1
3,4,INATEL,Instituto Nacional de Telecomunicações,BR,104629,1592,1
4,5,IFSULDEMINAS,Instituto Federal do Sul de Minas Gerais,BR,101527,1340,1

In [13]:
unindo_dados_faculdade.drop(['nome_fac','rank'], axis=1, inplace=True)

In [14]:
data_numero_faculdades_pais = unindo_dados_faculdade.groupby('pais').sum().sort_values('estudantes',ascending=False )

In [15]:
data_numero_faculdades_pais

      resolvidos  estudantes  Numero de faculdades
pais
BR       4504254      111937                   985
BD       1219389       31752                   291
EG        141413        3983                    85
IN         42257        1769                   351
MX         44982        1592                    63
...          ...         ...                   ...
EE             0           0                     1
GH             0           0                     1
IS             0           0                     1
GR             0           0                     1
GY             0           0                     1

[102 rows x 3 columns]

In [18]:
data_faculdade.describe(include=['O'])

       sigla                    nome_fac  pais
count   2599                        2599  2597
unique  2599                        2599   102
top      PRU  Faculdade JK de Tecnologia    BR
freq       1                           1   985