## Import bibliotecas

In [500]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Abrir arquivo csv

In [501]:
data_alunos = pd.read_csv('rank_alunos_6_oct_2020.csv')

In [502]:
data_alunos

,pontos,nome_aluno,faculdade_sigla,pais,perfil,status
0,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,/judge/en/profile/13809,alive no
1,4162.20,Jefe,UNOESC,br,/judge/en/profile/174,alive yes
2,4149.62,Lucas Bucior,URI,br,/judge/en/profile/11226,alive no
3,4147.84,Adriene Magalhães,INATEL,br,/judge/en/profile/85066,alive no
4,4145.61,Arif khan,PAU,bd,/judge/en/profile/59304,alive no
...,...,...,...,...,...,...
305208,1.00,HEMANTH KUMAR A,-,NaN,/judge/en/profile/464709,alive no
305209,1.00,Mohamed,-,NaN,/judge/en/profile/82370,alive no
305210,1.00,MatheusMelo,-,NaN,/judge/en/profile/82480,alive no
305211,1.00,Ricardo,UEM,NaN,/judge/en/profile/82913,alive no
305212,1.00,Shahidul,-,NaN,/judge/en/profile/82970,alive no

## Visualizar tamanho da amostra

In [503]:
len(data_alunos['perfil'].unique())

305206

## Perfis únicos, remover provaveis duplicatas

In [504]:
data_alunos.drop_duplicates(subset='perfil', inplace=True)

In [505]:
data_alunos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305206 entries, 0 to 305212
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pontos           305206 non-null  float64
 1   nome_aluno       305201 non-null  object
 2   faculdade_sigla  305206 non-null  object
 3   pais             165451 non-null  object
 4   perfil           305206 non-null  object
 5   status           305206 non-null  object
dtypes: float64(1), object(5)
memory usage: 16.3+ MB

In [506]:
(data_alunos.isnull()).sum()

pontos                  0
nome_aluno              5
faculdade_sigla         0
pais               139755
perfil                  0
status                  0
dtype: int64

## Renomear status, 1 = Ativo 0 = inativo

In [507]:
(data_alunos['status']).unique()

array(['alive no', 'alive yes'], dtype=object)

In [508]:
status_aluno_dict = {
    'alive yes': 1,
    'alive no' : 0
}

In [509]:
data_alunos['status'] = data_alunos['status'].map(status_aluno_dict)

In [510]:
data_alunos.head(10)

,pontos,nome_aluno,faculdade_sigla,pais,perfil,status
0,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,/judge/en/profile/13809,0
1,4162.20,Jefe,UNOESC,br,/judge/en/profile/174,1
2,4149.62,Lucas Bucior,URI,br,/judge/en/profile/11226,0
3,4147.84,Adriene Magalhães,INATEL,br,/judge/en/profile/85066,0
4,4145.61,Arif khan,PAU,bd,/judge/en/profile/59304,0
5,4131.19,flaviano,FATEC-OU,br,/judge/en/profile/149514,0
6,4115.51,Lucas Amaral Damaso,UFU,br,/judge/en/profile/3839,0
7,4103.93,Fernando Morato,IFS,br,/judge/en/profile/223600,1
8,4087.29,Raphael,FTT,br,/judge/en/profile/274549,1
9,4077.09,Pedro Leocir,IFRS,br,/judge/en/profile/188532,1

## Trocar '-' em 'faculdade_sigla' por 'Sem faculdade'

In [511]:
data_alunos['faculdade_sigla'].loc[data_alunos['faculdade_sigla'] == '-'] = \
data_alunos['faculdade_sigla'].loc[data_alunos['faculdade_sigla'] == '-'].map({'-': 'Sem Faculdade'})

/home/lhtest/SHOME/.virtualenvs/scrapy_uri/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [512]:
data_alunos['faculdade_sigla']

0                  UFCG
1                UNOESC
2                   URI
3                INATEL
4                   PAU
              ...
305208    Sem Faculdade
305209    Sem Faculdade
305210    Sem Faculdade
305211              UEM
305212    Sem Faculdade
Name: faculdade_sigla, Length: 305206, dtype: object

In [513]:
data_alunos.head()

,pontos,nome_aluno,faculdade_sigla,pais,perfil,status
0,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,/judge/en/profile/13809,0
1,4162.20,Jefe,UNOESC,br,/judge/en/profile/174,1
2,4149.62,Lucas Bucior,URI,br,/judge/en/profile/11226,0
3,4147.84,Adriene Magalhães,INATEL,br,/judge/en/profile/85066,0
4,4145.61,Arif khan,PAU,bd,/judge/en/profile/59304,0

## Abrir arquivo contendo data de cadastro dos alunos

In [514]:
data_alunos_date = pd.read_csv('data_cadastro_6_oct_2020.csv')

In [515]:
data_alunos_date.head(6)

       data                      link
0   4/19/13    /judge/en/profile/3839
1   2/20/17  /judge/en/profile/149514
2   3/30/12     /judge/en/profile/174
3    2/3/18  /judge/en/profile/223600
4  11/28/13   /judge/en/profile/11226
5   2/13/14   /judge/en/profile/13809

## Criando atributo 'data cadastro' na tabela principal para receber as datas da tabela 'data_alunos_date'

In [516]:
data_alunos['data cadastro'] = np.nan

In [517]:
data_alunos['data cadastro'] = data_alunos['data cadastro'].astype(object)

In [518]:
data_alunos.head()

,pontos,nome_aluno,faculdade_sigla,pais,perfil,status,data cadastro
0,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,/judge/en/profile/13809,0,NaN
1,4162.20,Jefe,UNOESC,br,/judge/en/profile/174,1,NaN
2,4149.62,Lucas Bucior,URI,br,/judge/en/profile/11226,0,NaN
3,4147.84,Adriene Magalhães,INATEL,br,/judge/en/profile/85066,0,NaN
4,4145.61,Arif khan,PAU,bd,/judge/en/profile/59304,0,NaN

In [519]:
data_alunos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305206 entries, 0 to 305212
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pontos           305206 non-null  float64
 1   nome_aluno       305201 non-null  object
 2   faculdade_sigla  305206 non-null  object
 3   pais             165451 non-null  object
 4   perfil           305206 non-null  object
 5   status           305206 non-null  int64
 6   data cadastro    0 non-null       object
dtypes: float64(1), int64(1), object(5)
memory usage: 18.6+ MB

## Usar link do perfil(valor único) como uma PK/FK

In [520]:
data_alunos.set_index('perfil', inplace=True)

In [521]:
data_alunos.head()

,pontos,nome_aluno,faculdade_sigla,pais,status,data cadastro
perfil,,,,,,
/judge/en/profile/13809,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,0,NaN
/judge/en/profile/174,4162.20,Jefe,UNOESC,br,1,NaN
/judge/en/profile/11226,4149.62,Lucas Bucior,URI,br,0,NaN
/judge/en/profile/85066,4147.84,Adriene Magalhães,INATEL,br,0,NaN
/judge/en/profile/59304,4145.61,Arif khan,PAU,bd,0,NaN

In [522]:
index_count = 0
for data_do_cadastro in data_alunos_date['link']:
    data_alunos.at[data_do_cadastro, 'data cadastro'] = data_alunos_date['data'][index_count]
    index_count +=1

In [523]:
data_alunos.head()

,pontos,nome_aluno,faculdade_sigla,pais,status,data cadastro
perfil,,,,,,
/judge/en/profile/13809,4162.52,Gustavo Bezerra Ribeiro,UFCG,br,0,2/13/14
/judge/en/profile/174,4162.20,Jefe,UNOESC,br,1,3/30/12
/judge/en/profile/11226,4149.62,Lucas Bucior,URI,br,0,11/28/13
/judge/en/profile/85066,4147.84,Adriene Magalhães,INATEL,br,0,2/17/16
/judge/en/profile/59304,4145.61,Arif khan,PAU,bd,0,7/6/15

In [524]:
data_alunos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305206 entries, /judge/en/profile/13809 to /judge/en/profile/82970
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pontos           305206 non-null  float64
 1   nome_aluno       305201 non-null  object
 2   faculdade_sigla  305206 non-null  object
 3   pais             165451 non-null  object
 4   status           305206 non-null  int64
 5   data cadastro    304886 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 26.3+ MB

## Organizando os dados de acordo com o número de pontos do aluno

In [525]:
data_alunos.reset_index(inplace=True)

In [526]:
data_alunos = data_alunos.sort_values(by='pontos', ascending=False).reset_index(drop=True)

In [527]:
data_alunos

,perfil,pontos,nome_aluno,faculdade_sigla,pais,status,data cadastro
0,/judge/en/profile/40980,21151.57,Maycon Alves,INATEL,br,1,2/25/15
1,/judge/en/profile/13607,20527.39,Gabriel Duarte,UFF,br,1,2/10/14
2,/judge/en/profile/34355,18020.44,Erick Leonardo de Sousa Monteiro,UNICAMP,br,1,11/14/14
3,/judge/en/profile/175304,17279.03,feodorv,MSU RU,ru,1,5/26/17
4,/judge/en/profile/85063,17021.31,Gustavo Policarpo,INATEL,br,1,2/17/16
...,...,...,...,...,...,...,...
305201,/judge/en/profile/455213,1.00,John Wick,CUET,NaN,0,5/13/20
305202,/judge/en/profile/453290,1.00,Salman,Sem Faculdade,NaN,0,5/3/20
305203,/judge/en/profile/452242,1.00,Sávio,Sem Faculdade,NaN,0,4/27/20
305204,/judge/en/profile/403994,1.00,Marcos de Oliveira Santos,Sem Faculdade,NaN,0,10/25/19
305205,/judge/en/profile/82970,1.00,Shahidul,Sem Faculdade,NaN,0,NaN

## Padronizando os países para maiúsculo

In [528]:
data_alunos['pais'] = data_alunos['pais'].str.upper()

In [529]:
data_alunos.head()

,perfil,pontos,nome_aluno,faculdade_sigla,pais,status,data cadastro
0,/judge/en/profile/40980,21151.57,Maycon Alves,INATEL,BR,1,2/25/15
1,/judge/en/profile/13607,20527.39,Gabriel Duarte,UFF,BR,1,2/10/14
2,/judge/en/profile/34355,18020.44,Erick Leonardo de Sousa Monteiro,UNICAMP,BR,1,11/14/14
3,/judge/en/profile/175304,17279.03,feodorv,MSU RU,RU,1,5/26/17
4,/judge/en/profile/85063,17021.31,Gustavo Policarpo,INATEL,BR,1,2/17/16

## Criando Atributos : dia, mês, ano

Convertendo coluna 'data cadastro' para formato datetime

In [ ]:
data_alunos['data cadastro'] = pd.to_datetime(data_alunos['data cadastro'])

In [ ]:
data_alunos.head()

In [ ]:
data_alunos['dias_semana'] = data_alunos['data cadastro'].dt.day_name()
data_alunos['mes_ano'] = data_alunos['data cadastro'].dt.month_name()
data_alunos['ano'] = data_alunos['data cadastro'].dt.year

In [ ]:
data_alunos.head()

In [ ]:
data_alunos.info()

## Salvar

In [ ]:
data_alunos.to_csv('data_alunos_primeira_limp.csv', index=False)